.divpageWraphover {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}
.img {
  aspect-ratio: 2.08;
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-self: stretch;
}
@media (max-width: 991px) {
  .img {
    max-width: 100%;
  }
}
.div {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  position: relative;
  min-height: 1173px;
  width: 100%;
  align-items: center;
  padding: 24px 80px 40px;
}
@media (max-width: 991px) {
  .div {
    max-width: 100%;
    padding: 0 20px;
  }
}
.img2 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div2 {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1140px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div2 {
    max-width: 100%;
  }
}
.livefullyinVietnam {
  color: rgba(178, 145, 14, 1);
  text-transform: uppercase;
  align-self: center;
  font: 400 35px/1.1 Arial, sans-serif;
}
.vietnamopensitsdoorwidelytowelcomevisitorsallaroundtheworldStartingfrom15thAugust2023VietnamextendseVisavalidityto90Daysandunilateralvisaexemptionwillbevalidin45Days {
  color: rgba(37, 37, 37, 1);
  text-align: center;
  margin: 47px 23px 0 27px;
  font: 400 20px/29px Arial, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .vietnamopensitsdoorwidelytowelcomevisitorsallaroundtheworldStartingfrom15thAugust2023VietnamextendseVisavalidityto90Daysandunilateralvisaexemptionwillbevalidin45Days {
    max-width: 100%;
    margin: 40px 10px 0 0;
  }
}
.wearemorethanhappytowelcomeyouallhereandadmireourstunninglandscapesfreeyoursoulonwhitesandybeachesexperienceouruniqueandbeautifulcultureandmeetthepeopleinthemostfriendlycountryParticularlytoindulgeinourscrumptiouscuisineatMichelinratedrestaurantsortojoinusinoutstandingmegaculturemusicsportsandtourismevents {
  color: rgba(37, 37, 37, 1);
  text-align: center;
  margin: 28px 0 0 12px;
  font: 400 20px/29px Arial, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .wearemorethanhappytowelcomeyouallhereandadmireourstunninglandscapesfreeyoursoulonwhitesandybeachesexperienceouruniqueandbeautifulcultureandmeetthepeopleinthemostfriendlycountryParticularlytoindulgeinourscrumptiouscuisineatMichelinratedrestaurantsortojoinusinoutstandingmegaculturemusicsportsandtourismevents {
    max-width: 100%;
    margin-right: 8px;
  }
}
.letslivetothefullestinVietnam {
  color: rgba(37, 37, 37, 1);
  align-self: center;
  margin-top: 53px;
  font: 400 20px/1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .letslivetothefullestinVietnam {
    margin-top: 40px;
  }
}
.div3 {
  align-self: center;
  display: flex;
  margin-top: 25px;
  width: 561px;
  max-width: 100%;
  gap: 13px;
  color: rgba(37, 37, 37, 1);
  white-space: nowrap;
  flex-wrap: wrap;
  font: 400 16px/1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .div3 {
    white-space: initial;
  }
}
.div4 {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  aspect-ratio: 2.955;
  width: 130px;
  color: rgba(255, 255, 255, 1);
  justify-content: center;
  padding: 5px;
}
@media (max-width: 991px) {
  .div4 {
    white-space: initial;
  }
}
.img3 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.after {
  position: relative;
  padding: 6px 50px;
  border: 1px solid rgba(247, 189, 1, 1);
}
@media (max-width: 991px) {
  .after {
    white-space: initial;
    padding: 0 20px;
  }
}
.a {
  border-radius: 5px;
  padding: 11px 35px;
  border: 1px solid rgba(165, 25, 14, 1);
}
@media (max-width: 991px) {
  .a {
    white-space: initial;
    padding: 0 20px;
  }
}
.a2 {
  border-radius: 5px;
  padding: 11px 44px;
  border: 1px solid rgba(165, 25, 14, 1);
}
@media (max-width: 991px) {
  .a2 {
    white-space: initial;
    padding: 0 20px;
  }
}
.a3 {
  border-radius: 5px;
  padding: 11px 48px;
  border: 1px solid rgba(165, 25, 14, 1);
}
@media (max-width: 991px) {
  .a3 {
    white-space: initial;
    padding: 0 20px;
  }
}
.div5 {
  margin-top: 30px;
}
@media (max-width: 991px) {
  .div5 {
    max-width: 100%;
  }
}
.div6 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div6 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 51%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div7 {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 290px;
  flex-grow: 1;
  padding-top: 197px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .div7 {
    max-width: 100%;
    margin-top: 20px;
    padding-top: 100px;
  }
}
.img4 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div8 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: start;
  aspect-ratio: 2.333;
  font-size: 12px;
  white-space: nowrap;
  line-height: 1.1;
  padding: 10px;
}
@media (max-width: 991px) {
  .div8 {
    white-space: initial;
  }
}
.img5 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div9 {
  position: relative;
}
.pmontserratBold {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  line-height: 20px;
  padding: 7px 10px 13px;
}
@media (max-width: 991px) {
  .pmontserratBold {
    max-width: 100%;
  }
}
.column2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column2 {
    width: 100%;
  }
}
.div10 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 0.931;
  flex-grow: 1;
  padding-top: 177px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .div10 {
    margin-top: 20px;
    padding-top: 100px;
  }
}
.img6 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div11 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: start;
  aspect-ratio: 3.5;
  font-size: 12px;
  line-height: 1.1;
  padding: 10px;
}
.img7 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div12 {
  position: relative;
}
.pmontserratBold2 {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  line-height: 20px;
  padding: 6px 10px 13px;
}
@media (max-width: 991px) {
  .pmontserratBold2 {
    padding-right: 20px;
  }
}
.column3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column3 {
    width: 100%;
  }
}
.div13 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 0.931;
  flex-grow: 1;
  padding-top: 177px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .div13 {
    margin-top: 20px;
    padding-top: 100px;
  }
}
.img8 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div14 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: start;
  aspect-ratio: 2.265;
  font-size: 12px;
  white-space: nowrap;
  line-height: 1.1;
  padding: 10px;
}
@media (max-width: 991px) {
  .div14 {
    white-space: initial;
  }
}
.img9 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div15 {
  position: relative;
}
.pmontserratBold3 {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  line-height: 20px;
  padding: 6px 10px 13px;
}
@media (max-width: 991px) {
  .pmontserratBold3 {
    padding-right: 20px;
  }
}
.div16 {
  margin-top: 20px;
}
@media (max-width: 991px) {
  .div16 {
    max-width: 100%;
  }
}
.div17 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div17 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column4 {
    width: 100%;
  }
}
.div18 {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 290px;
  flex-grow: 1;
  padding-top: 197px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .div18 {
    max-width: 100%;
    margin-top: 20px;
    padding-top: 100px;
  }
}
.img10 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div19 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: start;
  aspect-ratio: 2.333;
  font-size: 12px;
  white-space: nowrap;
  line-height: 1.1;
  padding: 10px;
}
@media (max-width: 991px) {
  .div19 {
    white-space: initial;
  }
}
.img11 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div20 {
  position: relative;
}
.column5 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column5 {
    width: 100%;
  }
}
.div21 {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 290px;
  flex-grow: 1;
  padding-top: 197px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .div21 {
    max-width: 100%;
    margin-top: 20px;
    padding-top: 100px;
  }
}
.img12 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div22 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: start;
  aspect-ratio: 2.97;
  font-size: 12px;
  white-space: nowrap;
  line-height: 1.1;
  padding: 10px;
}
@media (max-width: 991px) {
  .div22 {
    white-space: initial;
  }
}
.img13 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div23 {
  position: relative;
}
.pmontserratBold4 {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  line-height: 20px;
  padding: 7px 10px 13px;
}
@media (max-width: 991px) {
  .pmontserratBold4 {
    max-width: 100%;
    padding-right: 20px;
  }
}
.div24 {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-self: center;
  position: relative;
  aspect-ratio: 3;
  margin-top: 20px;
  width: 150px;
  max-width: 100%;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  padding: 2px 4px;
  font: 400 14px/50px Arial, -apple-system, Roboto, Helvetica, sans-serif;
}
.img14 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.viewmore {
  position: relative;
  align-self: center;
}
.after2 {
  position: relative;
  display: flex;
  height: 42px;
  border: 1px solid rgba(247, 189, 1, 1);
}
.whatson {
  color: rgba(178, 145, 14, 1);
  text-transform: uppercase;
  margin-top: 24px;
  font: 400 35px/1.1 Arial, sans-serif;
}
.checkoutupcomingeventsinVietnam {
  color: rgba(37, 37, 37, 1);
  margin-top: 15px;
  font: 400 20px/1 Arial, sans-serif;
}
.div25 {
  display: flex;
  margin-top: 40px;
  width: 100%;
  max-width: 1140px;
  font-family: Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .div25 {
    max-width: 100%;
  }
}
.img15 {
  object-fit: contain;
  object-position: center;
  width: 0px;
  align-self: start;
}
.div26 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: fit-content;
}
@media (max-width: 991px) {
  .div26 {
    max-width: 100%;
  }
}
.div27 {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 400px;
  width: 100%;
  padding-bottom: 35px;
}
@media (max-width: 991px) {
  .div27 {
    max-width: 100%;
  }
}
.img16 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div28 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .div28 {
    max-width: 100%;
  }
}
.div29 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 0.8;
  align-items: start;
  flex: 1;
  padding: 29px 25px 88px;
}
@media (max-width: 991px) {
  .div29 {
    padding: 0 20px;
  }
}
.img17 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.mar202525Mar2025 {
  position: relative;
  font-size: 10px;
  line-height: 1;
}
.openingofVisitVietnamYearHue2025 {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  align-self: stretch;
}
.after3 {
  position: relative;
  background-color: rgba(235, 235, 235, 1);
  display: flex;
  margin-top: 48px;
  width: 75px;
  height: 2px;
}
@media (max-width: 991px) {
  .after3 {
    margin-top: 40px;
  }
}
.div30 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 0.8;
  align-items: start;
  flex: 1;
  padding: 29px 25px 141px;
}
@media (max-width: 991px) {
  .div30 {
    padding: 0 20px 100px;
  }
}
.img18 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.mar202516Mar2025 {
  position: relative;
  font-size: 10px;
  line-height: 1;
}
.banFlowerFestival2025 {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  align-self: stretch;
}
.after4 {
  position: relative;
  background-color: rgba(235, 235, 235, 1);
  display: flex;
  margin-top: 48px;
  width: 75px;
  height: 2px;
}
@media (max-width: 991px) {
  .after4 {
    margin-top: 40px;
  }
}
.div31 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 0.8;
  align-items: start;
  flex: 1;
  padding: 29px 25px 114px;
}
@media (max-width: 991px) {
  .div31 {
    padding: 0 20px 100px;
  }
}
.img19 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.mar202513Mar2025 {
  position: relative;
  font-size: 10px;
  line-height: 1;
}
.thBuonMaThuotCoffeeFestival {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  align-self: stretch;
}
.after5 {
  position: relative;
  background-color: rgba(235, 235, 235, 1);
  display: flex;
  margin-top: 22px;
  width: 75px;
  height: 2px;
}
.div32 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 0.8;
  align-items: start;
  flex: 1;
  padding: 29px 25px 167px;
}
@media (max-width: 991px) {
  .div32 {
    padding: 0 20px 100px;
  }
}
.img20 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.mar202506Mar2025 {
  position: relative;
  font-size: 10px;
  line-height: 1;
}
.itbBerlin2025 {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
}
.after6 {
  position: relative;
  background-color: rgba(235, 235, 235, 1);
  display: flex;
  margin-top: 22px;
  width: 75px;
  height: 2px;
}
.div33 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 0.8;
  align-items: start;
  flex: 1;
  padding: 29px 25px 141px;
}
@media (max-width: 991px) {
  .div33 {
    padding: 0 20px 100px;
  }
}
.img21 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.mar202509Mar2025 {
  position: relative;
  font-size: 10px;
  line-height: 1;
}
.thHoChiMinhCityAoDai {
  position: relative;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
}
.after7 {
  position: relative;
  background-color: rgba(235, 235, 235, 1);
  display: flex;
  margin-top: 21px;
  width: 75px;
  height: 2px;
}
.img22 {
  aspect-ratio: 16.67;
  object-fit: contain;
  object-position: center;
  width: 961px;
  border-radius: 3px;
  align-self: center;
  margin-top: 22px;
  max-width: 100%;
}
.div34 {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-self: center;
  position: relative;
  aspect-ratio: 3.6;
  margin-top: 30px;
  width: 180px;
  max-width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 50px;
  padding: 2px 4px;
}
.img23 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.viewallevents {
  position: relative;
  align-self: center;
}
.after8 {
  position: relative;
  display: flex;
  height: 42px;
  border: 1px solid rgba(247, 189, 1, 1);
}
.sectionalsoLike {
  background-color: rgba(235, 235, 235, 1);
  align-self: stretch;
  display: flex;
  margin-top: 40px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 24px 80px 60px;
}
@media (max-width: 991px) {
  .sectionalsoLike {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div35 {
  display: flex;
  width: 1120px;
  max-width: 100%;
  flex-direction: column;
}
.mustSeesites {
  color: rgba(178, 145, 14, 1);
  text-transform: uppercase;
  align-self: center;
  font: 400 35px/1.1 Arial, sans-serif;
}
.takea360Degreetourofsomeofthecountrysmostcompellingnaturalwondersandculturalattractionsrighthere {
  color: rgba(37, 37, 37, 1);
  text-align: center;
  align-self: center;
  width: 700px;
  margin: 19px 0 0 27px;
  font: 400 18px/26px Arial, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .takea360Degreetourofsomeofthecountrysmostcompellingnaturalwondersandculturalattractionsrighthere {
    max-width: 100%;
  }
}
.div36 {
  margin-top: 16px;
}
@media (max-width: 991px) {
  .div36 {
    max-width: 100%;
  }
}
.div37 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div37 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column6 {
    width: 100%;
  }
}
.img24 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
@media (max-width: 991px) {
  .img24 {
    margin-top: 20px;
  }
}
.column7 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column7 {
    width: 100%;
  }
}
.img25 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
@media (max-width: 991px) {
  .img25 {
    margin-top: 20px;
  }
}
.column8 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column8 {
    width: 100%;
  }
}
.img26 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
@media (max-width: 991px) {
  .img26 {
    margin-top: 20px;
  }
}
.div38 {
  margin-top: 20px;
}
@media (max-width: 991px) {
  .div38 {
    max-width: 100%;
  }
}
.div39 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div39 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column9 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column9 {
    width: 100%;
  }
}
.img27 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
@media (max-width: 991px) {
  .img27 {
    margin-top: 20px;
  }
}
.column10 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column10 {
    width: 100%;
  }
}
.img28 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
@media (max-width: 991px) {
  .img28 {
    margin-top: 20px;
  }
}
.column11 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column11 {
    width: 100%;
  }
}
.img29 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
@media (max-width: 991px) {
  .img29 {
    margin-top: 20px;
  }
}
.img30 {
  aspect-ratio: 1.85;
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-self: stretch;
}
@media (max-width: 991px) {
  .img30 {
    max-width: 100%;
    margin-right: 10px;
  }
}
.traveltips {
  color: rgba(178, 145, 14, 1);
  text-transform: uppercase;
  margin-top: 55px;
  font: 400 35px/1.1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .traveltips {
    margin-top: 40px;
  }
}
.prepareforyourtripwiththesepracticalarticles {
  color: rgba(37, 37, 37, 1);
  margin-top: 15px;
  font: 400 20px/1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .prepareforyourtripwiththesepracticalarticles {
    max-width: 100%;
  }
}
.div40 {
  display: flex;
  margin-top: 40px;
  width: 945px;
  max-width: 100%;
  gap: 30px;
  color: rgba(51, 51, 51, 1);
  white-space: nowrap;
  text-transform: uppercase;
  flex-wrap: wrap;
  font: 400 14px/1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .div40 {
    white-space: initial;
  }
}
.divthumbnail {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2px 28px;
}
@media (max-width: 991px) {
  .divthumbnail {
    white-space: initial;
    padding: 0 20px;
  }
}
.img31 {
  aspect-ratio: 1.38;
  object-fit: contain;
  object-position: center;
  width: 110px;
}
.visas {
  align-self: center;
  margin-top: 34px;
}
.divthumbnail2 {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2px 22px;
}
@media (max-width: 991px) {
  .divthumbnail2 {
    white-space: initial;
    padding: 0 20px;
  }
}
.img32 {
  aspect-ratio: 1.51;
  object-fit: contain;
  object-position: center;
  width: 121px;
}
.transport {
  align-self: center;
  margin-top: 34px;
}
.divthumbnail3 {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2px 22px;
}
@media (max-width: 991px) {
  .divthumbnail3 {
    white-space: initial;
    padding: 0 20px;
  }
}
.img33 {
  aspect-ratio: 1.52;
  object-fit: contain;
  object-position: center;
  width: 122px;
}
.weather {
  align-self: center;
  margin-top: 34px;
}
.divthumbnail4 {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 2px 33px;
}
@media (max-width: 991px) {
  .divthumbnail4 {
    white-space: initial;
    padding: 0 20px;
  }
}
.img34 {
  aspect-ratio: 0.85;
  object-fit: contain;
  object-position: center;
  width: 68px;
}
.safety {
  margin-top: 34px;
}
.divthumbnail5 {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2px 32px;
}
@media (max-width: 991px) {
  .divthumbnail5 {
    white-space: initial;
    padding: 0 20px;
  }
}
.img35 {
  aspect-ratio: 1.26;
  object-fit: contain;
  object-position: center;
  width: 101px;
}
.history {
  align-self: center;
  margin-top: 34px;
}
.vietnamthroughthelensofinternationalnews {
  color: rgba(178, 145, 14, 1);
  text-transform: uppercase;
  margin-top: 100px;
  font: 400 35px/1.1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .vietnamthroughthelensofinternationalnews {
    max-width: 100%;
    margin-top: 40px;
  }
}
.findoutthereasonswhyVietnamisworthtovisit {
  color: rgba(37, 37, 37, 1);
  margin-top: 15px;
  font: 400 20px/1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .findoutthereasonswhyVietnamisworthtovisit {
    max-width: 100%;
  }
}
.div41 {
  z-index: 10;
  margin-top: 40px;
  width: 100%;
  max-width: 1140px;
}
@media (max-width: 991px) {
  .div41 {
    max-width: 100%;
  }
}
.div42 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div42 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column12 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column12 {
    width: 100%;
  }
}
.img36 {
  aspect-ratio: 1.42;
  object-fit: contain;
  object-position: center;
  width: 262px;
  max-width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img36 {
    margin-top: 30px;
  }
}
.column13 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column13 {
    width: 100%;
  }
}
.img37 {
  aspect-ratio: 1.43;
  object-fit: contain;
  object-position: center;
  width: 263px;
  max-width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img37 {
    margin-top: 30px;
  }
}
.column14 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column14 {
    width: 100%;
  }
}
.img38 {
  aspect-ratio: 1.42;
  object-fit: contain;
  object-position: center;
  width: 262px;
  max-width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img38 {
    margin-top: 30px;
  }
}
.column15 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column15 {
    width: 100%;
  }
}
.img39 {
  aspect-ratio: 1.43;
  object-fit: contain;
  object-position: center;
  width: 263px;
  max-width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img39 {
    margin-top: 30px;
  }
}
.div43 {
  width: 100%;
  max-width: 1141px;
}
@media (max-width: 991px) {
  .div43 {
    max-width: 100%;
  }
}
.div44 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div44 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column16 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column16 {
    width: 100%;
  }
}
.divinfo {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 0 11px 29px 0;
  font: 400 14px Arial, sans-serif;
}
@media (max-width: 991px) {
  .divinfo {
    margin-top: 29px;
  }
}
.div45 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 4.563;
  width: 146px;
  max-width: 100%;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  line-height: 32px;
  padding: 0 10px;
}
@media (max-width: 991px) {
  .div45 {
    padding-right: 20px;
  }
}
.img40 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div46 {
  position: relative;
}
.vietnamesebeefPhohasbeenlistedontheTop20OftheworldsbestsoupsbyCnnTravelAs {
  color: rgba(37, 37, 37, 1);
  line-height: 20px;
  margin: 12px 0 0 11px;
}
@media (max-width: 991px) {
  .vietnamesebeefPhohasbeenlistedontheTop20OftheworldsbestsoupsbyCnnTravelAs {
    margin-left: 10px;
  }
}
.column17 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column17 {
    width: 100%;
  }
}
.div47 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 4.969;
  width: 159px;
  max-width: 100%;
  color: rgba(255, 255, 255, 1);
  white-space: nowrap;
  text-transform: uppercase;
  line-height: 32px;
  padding: 0 10px;
}
@media (max-width: 991px) {
  .div47 {
    padding-right: 20px;
    white-space: initial;
  }
}
.img41 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div48 {
  position: relative;
}
.hoChiMinhCitythemetropolishubofVietnamfeaturesinthetop25Bestplacestogointhe {
  color: rgba(37, 37, 37, 1);
  line-height: 20px;
  margin: 12px 0 0 11px;
}
@media (max-width: 991px) {
  .hoChiMinhCitythemetropolishubofVietnamfeaturesinthetop25Bestplacestogointhe {
    margin-left: 10px;
  }
}
.column18 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column18 {
    width: 100%;
  }
}
.divinfo2 {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 0 11px 49px 0;
  font: 400 14px Arial, sans-serif;
}
@media (max-width: 991px) {
  .divinfo2 {
    margin-top: 29px;
  }
}
.div49 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 4.031;
  width: 129px;
  max-width: 100%;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  line-height: 32px;
  padding: 0 10px;
}
@media (max-width: 991px) {
  .div49 {
    padding-right: 20px;
  }
}
.img42 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div50 {
  position: relative;
}
.theTimesreveals12BestplacestovisitinVietnamTheTimesFullarticle {
  color: rgba(37, 37, 37, 1);
  line-height: 20px;
  margin: 12px 0 0 11px;
}
@media (max-width: 991px) {
  .theTimesreveals12BestplacestovisitinVietnamTheTimesFullarticle {
    margin-left: 10px;
  }
}
.column19 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 25%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column19 {
    width: 100%;
  }
}
.div51 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 5.844;
  width: 187px;
  max-width: 100%;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  line-height: 32px;
  padding: 0 10px;
}
@media (max-width: 991px) {
  .div51 {
    padding-right: 20px;
  }
}
.img43 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div52 {
  position: relative;
}
.thepearlislandofPhuQuochasearnedaspotinTravelLeisureslistoftopdestinationsto {
  color: rgba(37, 37, 37, 1);
  line-height: 20px;
  margin: 12px 0 0 11px;
}
@media (max-width: 991px) {
  .thepearlislandofPhuQuochasearnedaspotinTravelLeisureslistoftopdestinationsto {
    margin-left: 10px;
  }
}
.sectionvietnamCharm {
  background-color: rgba(235, 235, 235, 1);
  align-self: stretch;
  display: flex;
  margin-top: 80px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 24px 80px 80px;
}
@media (max-width: 991px) {
  .sectionvietnamCharm {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div53 {
  display: flex;
  width: 100%;
  max-width: 1160px;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 991px) {
  .div53 {
    max-width: 100%;
  }
}
.shareyourstory {
  color: rgba(178, 145, 14, 1);
  text-transform: uppercase;
  font: 400 35px/1.1 Arial, sans-serif;
}
.div54 {
  display: flex;
  margin-top: 15px;
  width: 552px;
  max-width: 100%;
  gap: 17px;
  color: rgba(37, 37, 37, 1);
  flex-wrap: wrap;
  font: 400 20px/1 Arial, sans-serif;
}
.tagyourbest {
  flex-grow: 1;
}
.liveFullyinVietnam {
  color: rgba(165, 25, 14, 1);
  flex-grow: 1;
  width: 155px;
}
.momentsonInstagram {
  flex-grow: 1;
  width: 187px;
}
.div55 {
  align-self: stretch;
  margin-top: 40px;
}
@media (max-width: 991px) {
  .div55 {
    max-width: 100%;
  }
}
.div56 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div56 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column20 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column20 {
    width: 100%;
  }
}
.div57 {
  display: flex;
  width: 100%;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div57 {
    max-width: 100%;
    margin-top: 10px;
  }
}
.div58 {
}
@media (max-width: 991px) {
  .div58 {
    max-width: 100%;
  }
}
.div59 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div59 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column21 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column21 {
    width: 100%;
  }
}
.img44 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img44 {
    margin-top: 10px;
  }
}
.column22 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column22 {
    width: 100%;
  }
}
.img45 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
@media (max-width: 991px) {
  .img45 {
    margin-top: 10px;
  }
}
.div60 {
  margin-top: 10px;
}
@media (max-width: 991px) {
  .div60 {
    max-width: 100%;
  }
}
.div61 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div61 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column23 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column23 {
    width: 100%;
  }
}
.img46 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
@media (max-width: 991px) {
  .img46 {
    margin-top: 10px;
  }
}
.column24 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column24 {
    width: 100%;
  }
}
.img47 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img47 {
    margin-top: 10px;
  }
}
.column25 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column25 {
    width: 100%;
  }
}
.img48 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
@media (max-width: 991px) {
  .img48 {
    max-width: 100%;
    margin-top: 10px;
  }
}
.div62 {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  aspect-ratio: 3;
  margin-top: 30px;
  width: 150px;
  max-width: 100%;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  padding: 2px 4px;
  font: 400 14px/50px Arial, -apple-system, Roboto, Helvetica, sans-serif;
}
.img49 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.after9 {
  position: relative;
  display: flex;
  height: 42px;
  border: 1px solid rgba(247, 189, 1, 1);
}
.div63 {
  display: flex;
  margin-top: 40px;
  width: 100%;
  max-width: 1140px;
  gap: 40px 100px;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .div63 {
    max-width: 100%;
  }
}
.div64 {
  align-self: start;
  display: flex;
  flex-direction: column;
  flex: 1;
  font: 400 14px/1 Arial, sans-serif;
}
.signupforournewsletter {
  color: rgba(178, 145, 14, 1);
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
  align-self: start;
}
.receivenewtravelstoriesfromVietnamonceamonthinyourinbox {
  color: rgba(37, 37, 37, 1);
  line-height: 20px;
  margin-top: 12px;
}
.input {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 15px;
  overflow: hidden;
  color: rgba(117, 117, 117, 1);
  padding: 20px 12px;
  border: 2px solid rgba(118, 118, 118, 1);
}
@media (max-width: 991px) {
  .input {
    padding-right: 20px;
  }
}
.div65 {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  aspect-ratio: 7.2;
  margin-top: 10px;
  width: 360px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  justify-content: center;
  padding: 4px;
}
.img50 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.after10 {
  position: relative;
  padding: 11px 70px;
  border: 1px solid rgba(247, 189, 1, 1);
}
@media (max-width: 991px) {
  .after10 {
    padding: 0 20px;
  }
}
.div66 {
  display: flex;
  gap: 40px 82px;
  flex: 1;
}
.div67 {
  display: flex;
  flex-direction: column;
}
.followuson {
  color: rgba(178, 145, 14, 1);
  text-transform: uppercase;
  align-self: start;
  font: 400 18px/1.1 Arial, sans-serif;
}
.div68 {
  display: flex;
  margin-top: 10px;
  gap: 4px;
}
.div69 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 1;
  width: 34px;
}
.img51 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.img52 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
.div70 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 1;
  width: 34px;
}
.img53 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.img54 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
.div71 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 1;
  width: 34px;
}
.img55 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.img56 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
.div72 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 1;
  width: 34px;
}
.img57 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.img58 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
.div73 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 1;
  width: 34px;
}
.img59 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.img60 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
.welcometotheofficialwebsiteofVietNamNationalAuthorityofTourismVisitoursocialmediapagesformoretravelinspiration {
  color: rgba(37, 37, 37, 1);
  margin-top: 37px;
  font: 400 14px/20px Arial, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .welcometotheofficialwebsiteofVietNamNationalAuthorityofTourismVisitoursocialmediapagesformoretravelinspiration {
    margin-right: 6px;
  }
}
.div74 {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.img61 {
  aspect-ratio: 1.55;
  object-fit: contain;
  object-position: center;
  width: 90px;
}
.img62 {
  aspect-ratio: 2.19;
  object-fit: contain;
  object-position: center;
  width: 90px;
  margin-top: 11px;
}
.divcopyrightcontainer {
  border-color: rgba(210, 141, 143, 1);
  border-top-width: 1px;
  margin-top: 100px;
  width: 1170px;
  max-width: 100%;
  color: rgba(37, 37, 37, 1);
  padding: 30px 70px;
  font: 400 14px/1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .divcopyrightcontainer {
    margin-top: 40px;
    padding: 0 20px;
  }
}
