.divpageWraphover {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}
.img {
  aspect-ratio: 1.8;
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-self: stretch;
}
@media (max-width: 991px) {
  .img {
    max-width: 100%;
  }
}
.urbanhubs {
  color: rgba(178, 145, 14, 1);
  text-transform: uppercase;
  margin-top: 24px;
  font: 400 35px/1.1 Arial, sans-serif;
}
.eachVietnamesecityexudesitsowndistinctcharacterGetafeelforVietnamsfascinatingurbancentresintheseinteractivetours {
  color: rgba(37, 37, 37, 1);
  text-align: center;
  margin-top: 19px;
  width: 700px;
  font: 400 18px/26px Arial, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .eachVietnamesecityexudesitsowndistinctcharacterGetafeelforVietnamsfascinatingurbancentresintheseinteractivetours {
    max-width: 100%;
  }
}
.div {
  margin-top: 16px;
  width: 1120px;
  max-width: 100%;
}
.div2 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div2 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.img2 {
  aspect-ratio: 1.06;
  object-fit: contain;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img2 {
    margin-top: 20px;
  }
}
.column2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column2 {
    width: 100%;
  }
}
.img3 {
  aspect-ratio: 1.06;
  object-fit: contain;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img3 {
    margin-top: 20px;
  }
}
.column3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column3 {
    width: 100%;
  }
}
.img4 {
  aspect-ratio: 1.06;
  object-fit: contain;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img4 {
    margin-top: 20px;
  }
}
.heritagesites {
  color: rgba(178, 145, 14, 1);
  text-transform: uppercase;
  margin-top: 24px;
  font: 400 35px/1.1 Arial, sans-serif;
}
.curiouswhatawaitsyouinVietnamTakea360Degreetourofsomeofthecountrysmostcompellingnaturalwondersandculturalattractionsrighthere {
  color: rgba(37, 37, 37, 1);
  text-align: center;
  margin-top: 18px;
  width: 687px;
  font: 400 18px/26px Arial, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .curiouswhatawaitsyouinVietnamTakea360Degreetourofsomeofthecountrysmostcompellingnaturalwondersandculturalattractionsrighthere {
    max-width: 100%;
  }
}
.div3 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div3 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.img5 {
  aspect-ratio: 1.06;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
@media (max-width: 991px) {
  .img5 {
    margin-top: 20px;
  }
}
.column4 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column4 {
    width: 100%;
  }
}
.img6 {
  aspect-ratio: 1.01;
  object-fit: contain;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img6 {
    margin-top: 20px;
  }
}
.column5 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column5 {
    width: 100%;
  }
}
.img7 {
  aspect-ratio: 1.06;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
@media (max-width: 991px) {
  .img7 {
    margin-top: 20px;
  }
}
.div4 {
  margin-top: 23px;
  width: 1120px;
  max-width: 100%;
}
.div5 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div5 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.img8 {
  aspect-ratio: 1.06;
  object-fit: contain;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img8 {
    margin-top: 20px;
  }
}
.column6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column6 {
    width: 100%;
  }
}
.img9 {
  aspect-ratio: 1.06;
  object-fit: contain;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img9 {
    margin-top: 20px;
  }
}
.column7 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column7 {
    width: 100%;
  }
}
.img10 {
  aspect-ratio: 1.06;
  object-fit: contain;
  object-position: center;
  width: 100%;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img10 {
    margin-top: 20px;
  }
}
.div6 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  position: relative;
  min-height: 750px;
  margin-top: 30px;
  width: 100%;
  align-items: start;
  padding: 70px 80px 112px;
}
@media (max-width: 991px) {
  .div6 {
    max-width: 100%;
    padding: 0 20px 100px;
  }
}
.img11 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div7 {
  position: relative;
  display: flex;
  margin-bottom: -22px;
  width: 100%;
  max-width: 1175px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div7 {
    max-width: 100%;
    margin-bottom: 10px;
  }
}
.div8 {
}
@media (max-width: 991px) {
  .div8 {
    max-width: 100%;
  }
}
.div9 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div9 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column8 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 45%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column8 {
    width: 100%;
  }
}
.div10 {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 991px) {
  .div10 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.spanicon {
  border-radius: 4px;
  background-color: rgba(165, 25, 14, 1);
  display: flex;
  margin-left: 59px;
  width: 8px;
  height: 8px;
}
@media (max-width: 991px) {
  .spanicon {
    margin-left: 10px;
  }
}
.div11 {
  display: flex;
  gap: 24px;
  color: rgba(255, 255, 255, 1);
  font: 400 10px/1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .div11 {
    margin-left: 8px;
  }
}
.spanicon2 {
  border-radius: 4px;
  background-color: rgba(165, 25, 14, 1);
  align-self: start;
  display: flex;
  margin-top: 10px;
  width: 8px;
  height: 8px;
}
.sapa {
  color: rgba(255, 255, 255, 1);
  font: 400 10px/1 Arial, sans-serif;
}
.div12 {
  align-self: stretch;
  display: flex;
  margin-top: 8px;
  width: 100%;
  padding-left: 44px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div12 {
    max-width: 100%;
    padding-left: 20px;
  }
}
.haNoi {
  color: rgba(255, 255, 255, 1);
  align-self: start;
  margin-left: 36px;
  font: 400 10px/1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .haNoi {
    margin-left: 10px;
  }
}
.div13 {
  align-self: start;
  display: flex;
}
.div14 {
  display: flex;
  flex-direction: column;
}
.div15 {
  align-self: start;
  display: flex;
  margin-left: 19px;
  align-items: start;
  gap: 21px;
}
@media (max-width: 991px) {
  .div15 {
    margin-left: 10px;
  }
}
.spanicon3 {
  border-radius: 4px;
  background-color: rgba(165, 25, 14, 1);
  display: flex;
  margin-top: 13px;
  width: 8px;
  height: 8px;
}
.img12 {
  aspect-ratio: 0.94;
  object-fit: contain;
  object-position: center;
  width: 17px;
}
.div16 {
  display: flex;
  gap: 9px;
  color: rgba(255, 255, 255, 1);
  font: 400 10px/1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .div16 {
    margin-right: 5px;
  }
}
.spanicon4 {
  border-radius: 4px;
  background-color: rgba(165, 25, 14, 1);
  align-self: start;
  display: flex;
  margin-top: 11px;
  width: 8px;
  height: 8px;
}
.aselectRegionNorth {
  display: flex;
  gap: 40px 100px;
  font-family: Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  line-height: 1;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  padding: 5px 29px;
}
@media (max-width: 991px) {
  .aselectRegionNorth {
    padding: 0 20px;
  }
}
.div17 {
  align-self: start;
  display: flex;
  gap: 4px;
  font-size: 10px;
}
.spanicon5 {
  border-radius: 4px;
  background-color: rgba(165, 25, 14, 1);
  align-self: start;
  display: flex;
  width: 8px;
  height: 8px;
}
.northernVietnam {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  text-transform: uppercase;
}
.ninhBinh {
  color: rgba(255, 255, 255, 1);
  align-self: start;
  margin-left: 32px;
  font: 400 10px/1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .ninhBinh {
    margin-left: 10px;
  }
}
.div18 {
  align-self: start;
  display: flex;
  gap: 4px;
  color: rgba(255, 255, 255, 1);
  margin: 92px 0 0 72px;
  font: 400 10px/1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .div18 {
    margin: 40px 0 0 10px;
  }
}
.spanicon6 {
  border-radius: 4px;
  background-color: rgba(165, 25, 14, 1);
  align-self: start;
  display: flex;
  width: 8px;
  height: 8px;
}
.div19 {
  align-self: start;
  display: flex;
  gap: 4px;
  color: rgba(255, 255, 255, 1);
  white-space: nowrap;
  margin: 25px 0 0 107px;
  font: 400 10px/1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .div19 {
    margin-left: 10px;
    white-space: initial;
  }
}
.spanicon7 {
  border-radius: 4px;
  background-color: rgba(165, 25, 14, 1);
  align-self: start;
  display: flex;
  width: 8px;
  height: 8px;
}
.div20 {
  align-self: center;
  display: flex;
  margin-top: 5px;
  width: 52px;
  gap: 4px;
  color: rgba(255, 255, 255, 1);
  font: 400 10px/1 Arial, sans-serif;
}
.spanicon8 {
  border-radius: 4px;
  background-color: rgba(165, 25, 14, 1);
  align-self: start;
  display: flex;
  width: 8px;
  height: 8px;
}
.spanicon9 {
  border-radius: 4px;
  background-color: rgba(165, 25, 14, 1);
  align-self: center;
  z-index: 10;
  display: flex;
  margin-top: 11px;
  width: 8px;
  height: 8px;
}
.aselectRegionCenter {
  align-self: end;
  display: flex;
  width: 288px;
  max-width: 100%;
  gap: 20px;
  font-family: Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  line-height: 1;
  justify-content: space-between;
  padding: 3px 28px;
}
@media (max-width: 991px) {
  .aselectRegionCenter {
    padding: 0 20px;
  }
}
.hoiAn {
  font-size: 10px;
  align-self: start;
}
.centralVietnam {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  text-transform: uppercase;
}
.div21 {
  align-self: center;
  display: flex;
  width: 59px;
  gap: 4px;
  color: rgba(255, 255, 255, 1);
  margin: 77px 0 0 10px;
  font: 400 10px/1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .div21 {
    margin-top: 40px;
  }
}
.spanicon10 {
  border-radius: 4px;
  background-color: rgba(165, 25, 14, 1);
  align-self: start;
  display: flex;
  width: 8px;
  height: 8px;
}
.spanicon11 {
  border-radius: 4px;
  background-color: rgba(165, 25, 14, 1);
  align-self: center;
  display: flex;
  width: 8px;
  height: 8px;
}
.div22 {
  align-self: stretch;
  display: flex;
  margin-top: 25px;
  gap: 23px;
  font-family: Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  line-height: 1;
}
.div23 {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  margin: auto 0;
}
.spanicon12 {
  border-radius: 4px;
  background-color: rgba(165, 25, 14, 1);
  align-self: center;
  display: flex;
  width: 8px;
  height: 8px;
}
.div24 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
  width: fit-content;
}
.div25 {
  display: flex;
  margin-left: 28px;
  width: 142px;
  max-width: 100%;
  flex-direction: column;
  font-size: 10px;
}
@media (max-width: 991px) {
  .div25 {
    margin-left: 10px;
  }
}
.div26 {
  display: flex;
  gap: 40px 42px;
}
.div27 {
  align-self: start;
  display: flex;
  gap: 4px;
  flex: 1;
}
.spanicon13 {
  border-radius: 4px;
  background-color: rgba(165, 25, 14, 1);
  align-self: start;
  display: flex;
  width: 8px;
  height: 8px;
}
.div28 {
  align-self: center;
  display: flex;
  width: 78px;
  align-items: start;
  gap: 16px;
}
.spanicon14 {
  border-radius: 4px;
  background-color: rgba(165, 25, 14, 1);
  display: flex;
  width: 8px;
  height: 8px;
}
.div29 {
  display: flex;
  margin-top: 4px;
  gap: 4px;
}
.spanicon15 {
  border-radius: 4px;
  background-color: rgba(165, 25, 14, 1);
  align-self: start;
  display: flex;
  width: 8px;
  height: 8px;
}
.aselectRegionSouth {
  display: flex;
  margin-top: 19px;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  padding: 3px 9px;
}
.div30 {
  align-self: start;
  display: flex;
  gap: 4px;
  font-size: 10px;
}
.spanicon16 {
  border-radius: 4px;
  background-color: rgba(165, 25, 14, 1);
  align-self: start;
  display: flex;
  width: 8px;
  height: 8px;
}
.southernVietnam {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  text-transform: uppercase;
}
.column9 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 55%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column9 {
    width: 100%;
  }
}
.divwrapDesc {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  margin: auto 0;
  padding: 30px 21px;
  font: 400 14px/20px Arial, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .divwrapDesc {
    max-width: 100%;
    margin-top: 40px;
    padding-right: 20px;
  }
}
.oneofVietnamsstrongestdrawsisthediversityofitsnaturalbeautyandlandscapes {
  font-size: 18px;
}
@media (max-width: 991px) {
  .oneofVietnamsstrongestdrawsisthediversityofitsnaturalbeautyandlandscapes {
    max-width: 100%;
  }
}
.thecapitalofHanoiisyourgatewaytothetreasuresofthenorthspectacularmountainsvalleysandbaysstuddedwithlimestonekarstsSmackinthecentreupAndComingDanangisoneofVietnamsmostprogressivecitiesFromhereyouhaveeasyaccesstophotogenicriversidetownsnationalparksandlongsandybeachesThesouthernmetropolisofHoChiMinhCitywillenticeyouwithitscoolcultureandcaptivatingstreetsjustwatchoutforthosemotorcyclesNearbytheMekongDeltarunstotheseapassingonTheWatervillagesandmangroveforestsalongthewayAndalldownVietnamsSShapedcoastyoullfindislandsbigandsmalljustwaitingtobeexplored {
  margin-top: 11px;
}
@media (max-width: 991px) {
  .thecapitalofHanoiisyourgatewaytothetreasuresofthenorthspectacularmountainsvalleysandbaysstuddedwithlimestonekarstsSmackinthecentreupAndComingDanangisoneofVietnamsmostprogressivecitiesFromhereyouhaveeasyaccesstophotogenicriversidetownsnationalparksandlongsandybeachesThesouthernmetropolisofHoChiMinhCitywillenticeyouwithitscoolcultureandcaptivatingstreetsjustwatchoutforthosemotorcyclesNearbytheMekongDeltarunstotheseapassingonTheWatervillagesandmangroveforestsalongthewayAndalldownVietnamsSShapedcoastyoullfindislandsbigandsmalljustwaitingtobeexplored {
    max-width: 100%;
  }
}
.clickonacityorregiontofindoutmore {
  font-weight: 700;
  line-height: 1;
  align-self: start;
  margin-top: 8px;
}
.div31 {
  align-self: start;
  display: flex;
  gap: 4px;
  color: rgba(255, 255, 255, 1);
  margin: 6px 0 0 121px;
  font: 400 10px/1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .div31 {
    margin-left: 10px;
  }
}
.spanicon17 {
  border-radius: 4px;
  background-color: rgba(165, 25, 14, 1);
  align-self: start;
  display: flex;
  width: 8px;
  height: 8px;
}
.div32 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  position: relative;
  min-height: 1127px;
  width: 100%;
  align-items: center;
  padding: 24px 80px 50px;
}
@media (max-width: 991px) {
  .div32 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.img13 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.div33 {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1140px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div33 {
    max-width: 100%;
  }
}
.myVietnam {
  color: rgba(178, 145, 14, 1);
  text-transform: uppercase;
  align-self: center;
  font: 400 35px/1.1 Arial, sans-serif;
}
.getaninsiderlookatVietnamsbestdestinationsLettheselocalVietnameseshowyouaroundtheirhometownswithpersonalstoriestoptipsandmustDoexperiences {
  color: rgba(37, 37, 37, 1);
  text-align: center;
  align-self: center;
  margin-top: 19px;
  width: 694px;
  font: 400 18px/26px Arial, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .getaninsiderlookatVietnamsbestdestinationsLettheselocalVietnameseshowyouaroundtheirhometownswithpersonalstoriestoptipsandmustDoexperiences {
    max-width: 100%;
  }
}
.div34 {
  margin-top: 42px;
}
@media (max-width: 991px) {
  .div34 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div35 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div35 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.ablockItem {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: rgba(37, 37, 37, 1);
  font-weight: 400;
  line-height: 1;
  padding: 1px 0 16px;
  border: 1px solid rgba(149, 149, 149, 1);
}
@media (max-width: 991px) {
  .ablockItem {
    margin-top: 20px;
  }
}
.img14 {
  aspect-ratio: 1.69;
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-self: stretch;
}
.myHcmc {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
}
.entrepreneurNamQuan {
  font-size: 14px;
}
.column10 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column10 {
    width: 100%;
  }
}
.ablockItem2 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: rgba(37, 37, 37, 1);
  font-weight: 400;
  line-height: 1;
  padding: 1px 1px 16px;
  border: 1px solid rgba(149, 149, 149, 1);
}
@media (max-width: 991px) {
  .ablockItem2 {
    margin-top: 20px;
  }
}
.img15 {
  aspect-ratio: 1.68;
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-self: stretch;
}
.myDanang {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
}
.restaurateurMaiThuyTram {
  font-size: 14px;
}
.column11 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column11 {
    width: 100%;
  }
}
.ablockItem3 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: rgba(37, 37, 37, 1);
  font-weight: 400;
  line-height: 1;
  padding: 1px 1px 16px;
  border: 1px solid rgba(149, 149, 149, 1);
}
@media (max-width: 991px) {
  .ablockItem3 {
    margin-top: 20px;
  }
}
.img16 {
  aspect-ratio: 1.68;
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-self: stretch;
}
.myDalat {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
}
.adventureExpertPhuNguyen {
  font-size: 14px;
}
.div36 {
  margin-top: 20px;
}
@media (max-width: 991px) {
  .div36 {
    max-width: 100%;
  }
}
.div37 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div37 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.ablockItem4 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: rgba(37, 37, 37, 1);
  font-weight: 400;
  line-height: 1;
  padding: 1px 0 17px;
  border: 1px solid rgba(149, 149, 149, 1);
}
@media (max-width: 991px) {
  .ablockItem4 {
    margin-top: 20px;
  }
}
.img17 {
  aspect-ratio: 1.69;
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-self: stretch;
}
.mySapa {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
}
.localGuideLyThyKer {
  font-size: 14px;
}
.column12 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column12 {
    width: 100%;
  }
}
.ablockItem5 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: rgba(37, 37, 37, 1);
  font-weight: 400;
  line-height: 1;
  padding: 1px 1px 17px;
  border: 1px solid rgba(149, 149, 149, 1);
}
@media (max-width: 991px) {
  .ablockItem5 {
    margin-top: 20px;
  }
}
.img18 {
  aspect-ratio: 1.68;
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-self: stretch;
}
.myNhaTrang {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
}
.vibeDirectorTkNguyen {
  font-size: 14px;
}
.column13 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column13 {
    width: 100%;
  }
}
.ablockItem6 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: rgba(37, 37, 37, 1);
  font-weight: 400;
  line-height: 1;
  padding: 1px 1px 17px;
  border: 1px solid rgba(149, 149, 149, 1);
}
@media (max-width: 991px) {
  .ablockItem6 {
    margin-top: 20px;
  }
}
.img19 {
  aspect-ratio: 1.68;
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-self: stretch;
}
.myHaNoi {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
}
.artEnthusiastMaiaDo {
  font-size: 14px;
}
.div38 {
  margin-top: 20px;
}
@media (max-width: 991px) {
  .div38 {
    max-width: 100%;
  }
}
.div39 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div39 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.ablockItem7 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: rgba(37, 37, 37, 1);
  font-weight: 400;
  line-height: 1;
  padding: 1px 0 17px;
  border: 1px solid rgba(149, 149, 149, 1);
}
@media (max-width: 991px) {
  .ablockItem7 {
    margin-top: 20px;
  }
}
.img20 {
  aspect-ratio: 1.68;
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-self: stretch;
}
.myMuiNe {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
}
.kiteBoardingInstructorTomPham {
  font-size: 14px;
}
.column14 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column14 {
    width: 100%;
  }
}
.ablockItem8 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: rgba(37, 37, 37, 1);
  font-weight: 400;
  line-height: 1;
  padding: 0 1px 17px;
  border: 1px solid rgba(149, 149, 149, 1);
}
@media (max-width: 991px) {
  .ablockItem8 {
    margin-top: 20px;
  }
}
.img21 {
  aspect-ratio: 1.68;
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-self: stretch;
}
.myHoiAn {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
}
.chefTranThanhDuc {
  font-size: 14px;
}
.column15 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column15 {
    width: 100%;
  }
}
.ablockItem9 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  color: rgba(37, 37, 37, 1);
  font-weight: 400;
  line-height: 1;
  padding: 0 1px 17px;
  border: 1px solid rgba(149, 149, 149, 1);
}
@media (max-width: 991px) {
  .ablockItem9 {
    margin-top: 20px;
  }
}
.img22 {
  aspect-ratio: 1.68;
  object-fit: contain;
  object-position: center;
  width: 100%;
  align-self: stretch;
}
.myNinhBinh {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
}
.founderandTourOperatorPhamMinhTam {
  font-size: 14px;
}
.div40 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  position: relative;
  min-height: 578px;
  width: 100%;
  justify-content: center;
  padding: 20px;
}
@media (max-width: 991px) {
  .div40 {
    max-width: 100%;
  }
}
.img23 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.before {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9px 80px 40px;
  border: 1px solid rgba(247, 189, 1, 1);
}
@media (max-width: 991px) {
  .before {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div41 {
  display: flex;
  width: 1120px;
  max-width: 100%;
  flex-direction: column;
}
.itineraries {
  color: rgba(255, 255, 255, 1);
  align-self: center;
  margin-left: 65px;
  font: 400 80px/1.1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .itineraries {
    font-size: 40px;
  }
}
.div42 {
  margin-top: 41px;
}
@media (max-width: 991px) {
  .div42 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div43 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div43 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.div44 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 1;
  padding-top: 300px;
  overflow: hidden;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font: 400 18px/1.1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .div44 {
    margin-top: 20px;
    padding-top: 100px;
  }
}
.img24 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.spaninfomontserratBold {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 10px;
}
@media (max-width: 991px) {
  .spaninfomontserratBold {
    padding-right: 20px;
  }
}
.column16 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column16 {
    width: 100%;
  }
}
.div45 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 1;
  padding-top: 300px;
  overflow: hidden;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font: 400 18px/1.1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .div45 {
    margin-top: 20px;
    padding-top: 100px;
  }
}
.img25 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.column17 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column17 {
    width: 100%;
  }
}
.div46 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 1;
  padding-top: 300px;
  overflow: hidden;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font: 400 18px/1.1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .div46 {
    margin-top: 20px;
    padding-top: 100px;
  }
}
.img26 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.divbreadcrumbContainer {
  background-color: rgba(225, 225, 225, 1);
  align-self: stretch;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  color: rgba(165, 25, 14, 1);
  padding: 0 70px;
  font: 400 14px/50px Arial, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .divbreadcrumbContainer {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div47 {
  display: flex;
  gap: 5px;
}
.youarehere {
  flex-grow: 1;
}
.div48 {
  align-self: start;
  margin-top: 17px;
}
.div49 {
  display: flex;
  margin-top: 39px;
  width: 100%;
  max-width: 1140px;
  gap: 40px 100px;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .div49 {
    max-width: 100%;
  }
}
.div50 {
  align-self: start;
  display: flex;
  flex-direction: column;
  flex: 1;
  font: 400 14px/1 Arial, sans-serif;
}
.signupforournewsletter {
  color: rgba(178, 145, 14, 1);
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
  align-self: start;
}
.receivenewtravelstoriesfromVietnamonceamonthinyourinbox {
  color: rgba(37, 37, 37, 1);
  line-height: 20px;
  margin-top: 12px;
}
.input {
  background-color: rgba(255, 255, 255, 1);
  margin-top: 15px;
  overflow: hidden;
  color: rgba(117, 117, 117, 1);
  padding: 20px 12px;
  border: 2px solid rgba(118, 118, 118, 1);
}
@media (max-width: 991px) {
  .input {
    padding-right: 20px;
  }
}
.div51 {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  aspect-ratio: 7.2;
  margin-top: 10px;
  width: 360px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  justify-content: center;
  padding: 4px;
}
.img27 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.after {
  position: relative;
  padding: 11px 70px;
  border: 1px solid rgba(247, 189, 1, 1);
}
@media (max-width: 991px) {
  .after {
    padding: 0 20px;
  }
}
.div52 {
  display: flex;
  gap: 40px 82px;
  flex: 1;
}
.div53 {
  display: flex;
  flex-direction: column;
}
.div54 {
  display: flex;
  gap: 4px;
}
.div55 {
  display: flex;
  flex-direction: column;
}
.followuson {
  color: rgba(178, 145, 14, 1);
  text-transform: uppercase;
  font: 400 18px/1.1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .followuson {
    margin-right: 9px;
  }
}
.div56 {
  display: flex;
  margin-top: 10px;
  gap: 4px;
}
.div57 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 1;
  width: 34px;
}
.img28 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.img29 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
.div58 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 1;
  width: 34px;
}
.img30 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.img31 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
.div59 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 1;
  width: 34px;
}
.img32 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.img33 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
.div60 {
  display: flex;
  flex-direction: column;
  position: relative;
  aspect-ratio: 1;
  width: 34px;
}
.img34 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.img35 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
.div61 {
  display: flex;
  flex-direction: column;
  align-self: end;
  position: relative;
  aspect-ratio: 1;
  margin-top: 30px;
  width: 34px;
}
.img36 {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.img37 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
}
.welcometotheofficialwebsiteofVietNamNationalAuthorityofTourismVisitoursocialmediapagesformoretravelinspiration {
  color: rgba(37, 37, 37, 1);
  margin-top: 38px;
  font: 400 14px/20px Arial, -apple-system, Roboto, Helvetica, sans-serif;
}
@media (max-width: 991px) {
  .welcometotheofficialwebsiteofVietNamNationalAuthorityofTourismVisitoursocialmediapagesformoretravelinspiration {
    margin-right: 6px;
  }
}
.div62 {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.img38 {
  aspect-ratio: 1.55;
  object-fit: contain;
  object-position: center;
  width: 90px;
}
.img39 {
  aspect-ratio: 2.19;
  object-fit: contain;
  object-position: center;
  width: 90px;
  margin-top: 12px;
}
.divcopyrightcontainer {
  border-color: rgba(210, 141, 143, 1);
  border-top-width: 1px;
  margin-top: 99px;
  width: 1170px;
  max-width: 100%;
  color: rgba(37, 37, 37, 1);
  padding: 31px 70px;
  font: 400 14px/1 Arial, sans-serif;
}
@media (max-width: 991px) {
  .divcopyrightcontainer {
    margin-top: 40px;
    padding: 0 20px;
  }
}
